.editContainer {
    border-radius: 24px;
    padding: 1rem 1rem;
}

.editContainer .navigationButtons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem
}

.editContainer div button {
    padding: 11px 22px;
    border-radius: 10px;
}

.active {
    background-color: black;
    color: white;
}

.inactive {
    background-color: #ffffff;
    color: #000000;
}